@model ResManager.DAO.Databases.C00_KhuVucAn

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditArea", "QuanLyKhuVuc", FormMethod.Post))
{
    <div class="card">
        <div class="card-body">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.TenLoaiKhuVuc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenLoaiKhuVuc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenLoaiKhuVuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdTrangThai, "IdTrangThai", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdTrangThai", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdTrangThai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">Lưu thông tin</button>
            @Html.ActionLink("Hủy", "Index", new { }, new { Class = "btn btn-secondary btn-flat" })
        </div>
    </div>
}
