@model ResManager.DAO.Databases.C01_SapXepMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C01_SapXepMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C01_Menu.TenMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C01_Menu.TenMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C01_Mon.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C01_Mon.TenMon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
