@model IEnumerable<ResManager.DAO.Databases.C00_BanAn>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssSection{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Scripts/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Scripts/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<div class="card">
    <div class="card-header">
        <a href="@Url.Action("Create", "BanAn")" class="btn btn-primary btn-flat">Thêm bàn ăn</a>
        <a href="@Url.Action("Index", "QuanLyKhuVuc")" class="btn btn-primary btn-flat">Thêm khu vực</a>
        <a href="@Url.Action("Index", "LoaiBan")" class="btn btn-primary btn-flat">Thêm loại bàn</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Thao tác</th>
                    <th>
                        Tên bàn ăn
                    </th>
                    <th>
                        Mã số bàn ăn
                    </th>
                    <th>
                        Số ghế
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Loại bàn ăn
                    </th>
                    <th>
                        Khu Vực
                    </th>
                    <th>
                        Trạng Thái
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { Class = "btn btn-secondary btn-flat" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { Class = "btn btn-primary btn-flat" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { Class = "btn btn-danger btn-flat" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenBanAn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoBanAn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoGhe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayTao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C00_LoaiBan.TenLoaiBan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C00_KhuVucAn.TenLoaiKhuVuc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Root_QuanLyTrangThai.Root_TrangThai.TenTrangThai)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section dataSection
{
    <!-- DataTables -->
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- \DataTables -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
